$primary-color: #2BD2CA;
$secondary-color: #887575;
$error-color: #F71735;
$default-color: #9EA0A5;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 50rem;
  padding: 0 1.5rem;
  margin: 3rem auto 3rem;

  & > .title {
    font-size: 3rem;
    text-align: center;
  }
}

.alert {
  display: flex;
  width: 100%;
  padding: 6px 16px;
  font-size: 0.875rem;
  font-weight: 400;
  border-radius: 400;
  color: #000;
  background-color: #fff;

  &.error {
    color: rgb(97, 26, 21);
    background-color: rgb(253, 236, 234);

    & > .alert-icon {
      color: #f44336;
    }
  }

  &-icon {
    display: flex;
    opacity: 0.9;
    padding: 7px 0;
    font-size: 22px;
    margin-right: 12px;

    & svg {
      fill: currentColor;
      width: 1em;
      height: 1em;
      display: inline-block;
      font-size: 1.5rem;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      flex-shrink: 0;
      user-select: none;
    }
  }

  &-message {
    padding: 8px 0;
  }
}

.collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1rem;

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    margin: 3rem 0 1rem;
    border-bottom: 4px solid $primary-color;
    font-size: 2rem;

    & > a {
      color: inherit;
      text-decoration: none;
    }
  }

  &-item {
    width: 100%;
    border: 1px solid #e6e6e0;
    border-radius: 4px;

    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    &__caption {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.5rem;
    }

    &__label {
      font-size: 1.4rem;
      color: $secondary-color;
    }

    &__size {
      font-size: 1rem;
      color: #000;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  & > .form-label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: $default-color;
  }

  & > .form-input {
    width: 100%;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 18px;
    border: 1px solid #000;

    &:hover {
      border-color: #000;
    }

    &:focus {
      border: 1px solid $primary-color;
      outline: none;
    }
  }
}

.form-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-error {
  margin: 6px 0;
  color: $error-color;
}

.button {
  padding: 8px 20px;
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  background: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &-outlined {
    border: 1px solid $default-color;
  }
  &-contained {
    background-color: $default-color;
  }

  &-small {
    font-size: 0.75rem;
    padding: 4px 8px;
  }
  &-large { 
    font-size: 1rem;
  }

  &-primary {
    color: $primary-color;
  }
  &-secondary {
    color: $secondary-color;
  }

  &-outlined__primary {
    border-color: $primary-color;
  }
  &-outlined__secondary {
    border-color: $secondary-color;
  }

  &-contained__primary {
    background-color: $primary-color;
    color: #000;
  }
  &-contained__secondary {
    background-color: $secondary-color;
  }
}

